* {
  font-family: "Gilroy";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

button {
  width: 8.125vw;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 44px 27px 12px 15px;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  line-height: 16.2px;
}

strong {
  font-weight: 800;
  font-size: 24px;
  line-height: 21.6px;
}

a {
  color: inherit;
}

.card {
  display: flex;
  width: 55%;
  height: 60%;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.foto-desktop {
  padding: 19px;
  display: flex;
}

.foto-desktop img {
  max-width: 23vw;
  max-height: 59vh;
}

.foto-mobile {
  display: none;
}

.logos {
  z-index: 2;
  position: relative;
}

.logos-campus {
  position: absolute;
  bottom: 2vw;
  right: 23vh;
  width: 10vw;
  height: 5vh;
}

.logo-fogo {
  position: absolute;
  bottom: 1vw;
  right: 2vh;
  width: 9.5vw;
  height: 19.5vh;
  animation: fire 2s infinite alternate;
}

@keyframes fire {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}

.logo-coracao {
  position: absolute;
  top: 23vw;
  right: 7vh;
  width: 7.5vw;
  height: 15.5vh;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.links {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  text-align: left;
  justify-content: center;
  margin-left: 2vw;
}

.texto {
  margin-bottom: 23px;
}

.h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 90%;
  color: #333333;
}

.h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
  color: #4f4f4f;
}

.botoes {
  display: flex;
  flex-direction: row;
  gap: 17px;
  width: 8.125vw;
}

.botoes-genericos {
  padding: 2px;
  border-radius: 6px;
  display: flex;
}

.estudante {
  border: 1px solid rgba(183, 41, 90, 0.3);
}

.estudante button {
  background-color: rgba(183, 41, 90, 0.1);
  color: #b7295a;
}

.professor {
  border: 1px solid rgba(0, 60, 113, 0.3);
}

.professor button {
  background-color: rgba(0, 60, 113, 0.1);
  color: #003c71;
}

.gestor {
  border: 1px solid rgba(255, 97, 39, 0.3);
}

.gestor button {
  background-color: rgba(255, 97, 39, 0.1);
  color: #ff7700;
}

.estudante:hover {
  border: 1px solid rgba(183, 41, 90, 1);
}

.professor:hover {
  border: 1px solid rgba(0, 60, 113, 1);
}

.gestor:hover {
  border: 1px solid rgba(255, 97, 39, 1);
}

.arrow-mobile {
  display: none;
}

.footer {
  text-decoration-line: underline;
  margin-top: 1;
  position: relative;
  top: 132px;
}

@media screen and (max-width: 1440px) {
  button {
    padding: 44px 27px 12px 4px;
    width: 9vw;
  }

  .card {
    width: 60%;
  }

  .foto-desktop {
    max-width: 30vw;
    max-height: 72vh;
  }

  .logos-campus {
    right: 22vh;
    bottom: 5vh;
    width: 10vw;
    height: 5vh;
  }

  .logo-fogo {
    bottom: 2vh;
    right: 3vh;
    width: 10vw;
    height: 19.5vh;
  }

  .logo-coracao {
    top: 47vh;
    right: 7vh;
    width: 8.5vw;
    height: 15.5vh;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 80%;
  }

  .logos-campus {
    right: 21vh;
    bottom: 5vh;
    width: 12vw;
    height: 4vh;
  }

  .logo-fogo {
    bottom: 2vh;
    right: 0vh;
    width: 14vw;
    height: 18.5vh;
  }

  .logo-coracao {
    top: 47vh;
    right: 4vh;
    width: 12.5vw;
    height: 15.5vh;
  }

  button {
    width: 12vw;
    height: 10vw;
  }

  .links {
    margin-left: 2.3vw;
  }

  .foto-desktop img {
    max-width: 32vw;
    max-height: 59vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  .container {
    margin: 0;
    justify-content: start;
    width: 100vw;
  }

  .card {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    flex-direction: column;
  }

  .foto-desktop {
    display: none;
  }

  .foto-mobile {
    display: block;
    width: 100%;
  }

  .logos-campus {
    right: 50vh;
    bottom: 3vw;
    width: 40vw;
    height: 10vh;
    position: absolute;
  }

  .logo-fogo {
    position: absolute;
    right: 11vh;
    top: -21vw;
    width: 24vw;
    height: 21vh;
  }

  .logo-coracao {
    position: absolute;
    right: 15vh;
    top: -11vw;
    width: 21vw;
    height: 16vh;
  }

  .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
  }

  .botoes {
    flex-direction: column;
    align-items: center;
    width: 325px;
  }

  .botoes-genericos {
    width: 100%;
  }

  .botoes button {
    width: 100%;
  }

  .texto {
    margin-bottom: 3px;
  }

  .h1 {
    width: 223px;
    height: 23px;
    margin-top: 76px;
    font-weight: 800;
    font-size: 26px;
    line-height: 90%;
  }

  .h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 26px;
  }

  .footer {
    top: 7vh;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }

  .botoes button a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    bottom: 3vw;
  }

  .arrow-mobile {
    display: block;
    position: relative;
    bottom: 3vh;
    left: 32vw;
  }

  @media screen and (max-width: 425px) {
    .logos-campus {
      right: 28vh;
      bottom: 2vw;
      width: 38vw;
      height: 5vh;
    }

    .logo-fogo {
      right: 8vh;
      top: -22vw;
      width: 23vw;
      height: 13vh;
    }

    .logo-coracao {
      right: 11vh;
      top: -12vw;
      width: 23vw;
      height: 11vh;
    }

    .botoes button a {
      bottom: 8vw;
      left: 1vh;
    }

    .arrow-mobile {
      left: 56vw;
    }
  }

  @media screen and (max-width: 375px) {
    .logos-campus {
      right: 25vh;
    }

    .logo-fogo {
      right: 8vh;
      top: -24vw;
      width: 24vw;
      height: 12vh;
    }

    .logo-coracao {
      right: 11vh;
      top: -15vw;
    }

    .arrow-mobile {
      left: 49vw;
    }
  }

  @media screen and (max-width: 320px) {
    .logos-campus {
      right: 22vh;
      bottom: 2vw;
      width: 34vw;
      height: 4vh;
    }

    .logo-fogo {
      right: 8vh;
      top: -22vw;
      width: 23vw;
      height: 10vh;
    }

    .logo-coracao {
      right: 10vh;
      top: -12vw;
      width: 21vw;
      height: 8vh;
    }

    .botoes {
      width: 265px;
    }

    .botoes button a {
      bottom: 10vw;
    }
    .arrow-mobile {
      left: 57vw;
    }
  }
}
